<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h1 class="mb-3">Sign up</h1>
      </div>
    <!-- <div class="form-floating">
      <input type="text" formControlName="displayName" class="form-control" id="floatingDisplayName" placeholder="DisplayName">
      <label for="floatingDisplayName">UserName</label>
    </div>
    <div class="form-floating mb-3">
      <input  type="email" formControlName="email" class="form-control" id="floatingInput" placeholder="Email">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div> -->
    <app-text-input formControlName="displayName" [label]="'Display Name'"></app-text-input>
    <app-text-input formControlName="email" [label]="'Email address'"></app-text-input>
    <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>

      <ul class="text-danger list-unstyled" *ngIf="errors">
        <li *ngFor="let error of errors">
          {{error}}
        </li>
      </ul>

      <div class="d-grid">
        <button class="btn btn-lg btn-primary mt-3" type="submit">Sign Up</button>
      </div>
    </form>
  </div>

</div>